body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
}

.header {
    background-color: #0d004d;
    height: 80vh;
}

.nav-item a {
    color: #fff;
    font-family: 'Raleway', sans-serif;
}

.nav-item a:hover {
    color: #ae9100;
}

.nav-item a:visited {
    color: #fff;
}

.hero {
    color: #fff;
    text-align: center;
}

.hero h1 {
    font-size: 4rem;
    font-family: 'Cantarell', sans-serif;
    padding-top: 10rem;
}

.hero h3 {
    font-family: 'Raleway', sans-serif;
    margin: 0 5rem 0 5rem;
}

.hero .btn {
    margin: 2rem 2rem;
}

.project-highlights {
    padding: 5%;
    margin-top: -15vh;
}

.card {
    border: 2px solid #000;
    box-shadow: 0px 5px 5px #888888;
}

.card-header {
    position: relative;
    display: flex;
}

.card-header image {
    float: left;
}

.card-header-text {
    float: right;
    padding-left: 1rem;
}

.card-img-top {
    max-width: 150px;
    max-height: 150px;
}
  